.playwrite-gb-s-heading {
  /* Use for headings */
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

/* Main characters section styles */
.main {
  background-image: url();
  background-size: 100%;
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain;
  }
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  color: black;
  border-radius: 10px;
  margin: 1vw 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.main-header {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.main-header a {
    color: black;
  text-decoration: none;
}

.sub-header {
  width: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 4%;
}

.sub-header a {
    color: black;
  text-decoration: none;
}

.sub-header a:hover {
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.sub-header a:visited {
  text-decoration: underline;
}

.header button {
  border-radius: 10px;
  background-color: #ece0d0;
  border: none;
  color: #38210f;
  font-weight: 700;
  text-align: center;
  font-size: 17px;
  padding: 13px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
}

.header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.header button:hover span {
  padding-right: 15px;
}

.header button:hover span:after {
  opacity: 1;
  right: 0;
}

/* main section */
.main {
  background-color: rgba(236, 224, 208, 0.8);
  border-radius: 10px;
  max-width: 100%;
  margin: 2vw 3vw;
  padding-bottom: 1%;
}

.main1 {
  display: flex;
}

.description1 {
  font-size: 1.2em;
  color: #391300;
  margin-top: 6%;
  margin-right: 5%;
  margin-left: 5%;
}

.description1 p {
  letter-spacing: 1px;
}
.main1 button {
  font-size: medium;
  background-color: #38210f;
  color: #ece0d0;
  align-items: center;
  border: none;
  border-radius: 30px;
  margin: 12px;
  padding: 18px 30px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.main1 button:hover,
:focus {
  color: #ece0d0;
  background: #38210f;
  border: 1px solid #38210f;

  box-shadow: 0 0 5px #38210f, 0 0 20px #38210f, 0 0 50px #38210f,
    0 0 100px #38210f;
}

.main2 {
  display: flex;
}
.latte {
  margin-left: 10%;
  margin-right: 10%;
}
.description2 {
  font-size: large;
  color: #391300;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.description2 p {
  font-weight: 530;
  letter-spacing: 1px;
}
.main2 button {
  font-size: medium;
  background-color: #38210f;
  color: #ece0d0;
  border: none;
  border-radius: 30px;
  margin: 12px;
  padding: 18px 30px;
  cursor: pointer;
}
.main2 button:hover,
:focus {
  color: #ece0d0;
  background: #38210f;
  border: 1px solid #38210f;
  box-shadow: 0 0 5px #38210f, 0 0 20px #38210f, 0 0 50px #38210f,
    0 0 100px #38210f;
}

/* footer */
.site-footer {
  background-color: #38210f;
  padding: 45px 50px 30px;
  font-size: 16px;
  line-height: 30px;
  color: #ece0d0;
  transition: all 0.5s ease;
  justify-content: space-evenly;
  letter-spacing: 1px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
.About {
  width: 50%;
}

.site-footer button {
  font-size: medium;
  font-weight: 600;
  background-color: #ece0d0;
  color: #38210f;
  border: none;
  border-radius: 30px;
  margin: 12px;
  padding: 18px 30px;
  cursor: pointer;
}

.Categories,
.quick-links {
  width: 10%;
}

.site-footer hr {
  border-top-color: #ece0d0;
  opacity: 0.5;
  margin-top: 5%;
  margin-bottom: 2%;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #ece0d0;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #ece0d0;
}
.site-footer a:hover {
  color: #ece0d0;
  text-decoration: underline;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #ece0d0;
  text-decoration: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #ece0d0;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .footer-social-icons {
  text-align: right;
}
.site-footer .footer-social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #634932;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .footer-social-icons {
    text-align: center;
  }
}
.footer-social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer-social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.footer-social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #ece0d0;
  font-weight: 700;
  font-size: 13px;
}
.footer-social-icons a {
  background-color: #eceeef;
  color: #ece0d0;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer-social-icons a:active,
.footer-social-icons a:focus,
.footer-social-icons a:hover {
  color: #ece0d0;
  background-color: #29aafe;
}
.footer-social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.footer-social-icons a.facebook:hover {
  background-color: #3b5998;
}
.footer-social-icons a.pinterest:hover {
  background-color: #e60024;
}
.footer-social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.footer-social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .footer-social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
